body{background-color:#FF7F50;
	font-family:Michroma;
}

.homebody{background-image:url("images/background_home.jpg");
background-size:100%;


}
/*{border:1px solid black;}*/

.universal{
	background-color: #faebd7;
	color:black;
	text-align:center;
	height:20%;
	width:98%;
	border-radius:10% ;
	margin:-1% 1% 1% 1%;
	}
.universal p{display:inline;}
.topnav{font-size:25px;
}

a{display:inline;
	color:black;
}

hr{margin:0%;
	padding:0%;
	height:2px;
	background-color:#FFCC99;
}


a:hover{color:#FF9966;}

h1{margin:3px;
	text-align:center;
	background-color: #faebd7;
    border: 1px solid black;
    opacity: 0.6;
}